Repository TechNinjass/midall-backend, pull requests merged in 2023-05, with the labels that each got.

#66 add column status and config status in transfer
  flaskr/cloud/azure.py
  flaskr/migrations/versions/511c79dcff43_add_column_status.py
  flaskr/models/file_transfer.py
  flaskr/services/file.py
Labels: back-end, banco de dados, cloud

#77 Feature 64
  .gitignore
  README.md
  flaskr/cloud/azure.py
  flaskr/cloud/config_credentials.py
  flaskr/cloud/drive.py
  flaskr/requirements.txt
  flaskr/services/file.py
  tests/test_azure.py
Labels: back-end, banco de dados, cloud, testes

#81 Feature 69
  flaskr/cloud/azure.py
  flaskr/cloud/drive.py
  flaskr/cloud/set_parameters.py
  flaskr/services/file.py
  tests/test_azure.py
Labels: back-end, cloud

#83 config parameters
  flaskr/cloud/config_transfer.py
  flaskr/resources/config_parameters_transfer.py
  flaskr/routes.py
Labels: back-end, cloud

#84 Feature fix routes
  .gitignore
  flaskr/cloud/azure.py
  flaskr/cloud/cloud_information/credentialsAzure.json
  flaskr/cloud/cloud_information/parametersTransfer.json
  flaskr/cloud/cloud_information/tokenDriven.json
  flaskr/cloud/config_credentials.py
  flaskr/cloud/config_transfer.py
  flaskr/cloud/drive.py
  flaskr/cloud/set_parameters.py
  flaskr/job_scheduler.py
  flaskr/migrate.py
  flaskr/models/file_transfer.py
  flaskr/resources/azure_list_folder.py
  flaskr/resources/config_parameters_transfer.py
  flaskr/resources/drive_list_folder.py
  flaskr/routes.py
  flaskr/services/file.py
Labels: back-end, cloud

#86 Cloud cover
  flaskr/cloud/drive.py
  tests/test_azure.py
  tests/test_azure_connection.py
  tests/test_azure_list_files.py
  tests/test_drive.py
  tests/test_drive_connection.py
  tests/test_drive_list_files.py
Labels: back-end, testes

#85 alert on OS when transferring
  flaskr/cloud/drive.py
  flaskr/requirements.txt
  flaskr/routes.py
  flaskr/services/file.py
Labels: back-end

#87 User-configured automatic transfer - feature-70
  flaskr/app.py
  flaskr/cloud/cloud_information/parametersTransfer.json
  flaskr/job_scheduler.py
  flaskr/resources/config_parameters_transfer.py
  requirements.txt
Labels: back-end, banco de dados, cloud

#93 92: Config swagger-ui in project
  README.md
  flaskr/app.py
  flaskr/job_scheduler.py
  flaskr/resources/azure_connection.py
  flaskr/resources/azure_list_files.py
  flaskr/resources/azure_list_folder.py
  flaskr/resources/config_parameters_transfer.py
  flaskr/resources/drive_connection.py
  flaskr/resources/drive_list_files.py
  flaskr/resources/drive_list_folder.py
  flaskr/resources/file_transfer.py
  flaskr/routes.py
  flaskr/schema.py
  flaskr/schemas/azure.py
  flaskr/schemas/config_parameters.py
  flaskr/schemas/drive.py
  flaskr/schemas/message.py
  flaskr/services/file.py
  flaskr/swagger_docs.py
  requirements.txt
  tests/test_drive_connection.py
Labels: documentação

#94 config docker
  docker/.env
  docker/docker-compose.yml
  docker/flask.dockerfile
Labels: back-end
